/*шрифт*/
p, body {
    margin: 0;
    font-family: 'Unbounded', cursive;
    color: white;
}

ul {
    list-style-type: none;
}

header {
    display: flex;
    height: 72px;
    width: 100%;
    justify-content: flex-start;
}

.bgImg {
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%; 
    text-align: center;
}

/*НАВИГАЦИЯ */
.navigation {
    height: 100vh;
    width: 25%;
    z-index: 10;
}


.navigation .burger {
    z-index: 15;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 54px;
    height: 48px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 5px;
    cursor: pointer;
}


.navigation .burger .line {
    background: #fff;
    height: 7px;
    border-radius: 2px;
    display: block;
    transition: transform 0.4s ease-in-out;
}

.navigation.active .burger {
    left: 20px;
}

.navigation .burger .line1 {
    transform-origin: 0% 0%;
}

.navigation .burger .line3 {
    transform-origin: 0% 100%;

}

.navigation.active .burger .line {
    width: 85%;
}

.navigation.active .burger .line1 {
    transform: rotate(45deg);
}

.navigation.active .burger .line2 {
    transform: scale(0);
}

.navigation.active .burger .line3 {
    transform: rotate(-45deg);
}


.navigation .navList {
    /* display: none;   */
    display: block;
    height: 100vh;
    width: 25%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: -25%;
    margin: 0;
    transition: left 500ms ease-out 0s;
}

.navigation.active .navList {
    /* display: block; */
    background: rgba(0, 0, 0, 0.55);

    left: 0;
}

.navList ul {
    margin-top: 50px;
    padding: 14px 0 0 14px; 
}

.navList li {
    display: flex;
} 

.mainInfo {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 136px;
} 

.subtitle {
    font-size: 18px;
}

@media (max-width: 960px) {
    .title {
        font-size: 120px;
    }
} 

@media (max-width: 720px) {
    .title {
        font-size: 96px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 72px;
    }
}


